In [11]:
import pandas as pd
import numpy as np
a=pd.Series([11,21,31,np.nan],index=[1,2,3,4])
print(a)
print(type(a))
t=[1,2,'a']
b=pd.Series(t)
print(b)
print(type(b))

1    11.0
2    21.0
3    31.0
4     NaN
dtype: float64
<class 'pandas.core.series.Series'>
0    1
1    2
2    a
dtype: object
<class 'pandas.core.series.Series'>

In [25]:
a=[['a',1],['t',4]]
print(a)
print(type(a))
b=pd.DataFrame(a,columns=['A','B'])
print(type(b))
print(b['A'])
c=b['A']
c1=b[['A']]
print(type(c))
print(type(c1))
print(c1)
c

[['a', 1], ['t', 4]]
<class 'list'>
<class 'pandas.core.frame.DataFrame'>
0    a
1    t
Name: A, dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
   A
0  a
1  t

0    a
1    t
Name: A, dtype: object

In [35]:
import pandas as pd

csv= pd.read_csv('./Data/weather_data/weather_data.csv')
csv.head()

          day  temperature  windspeed  event PlayCricket
0  01-01-2017         32.0        6.0   Rain          No
1  01-02-2017         35.0        7.0  Sunny         Yes
2  01-03-2017         28.0        2.0   Snow          No
3  01-04-2017         24.0        7.0   Snow          No
4  01-05-2017         32.0        4.0   Rain          No

In [32]:
import pandas as pd

csv = pd.read_csv('./Data/weather_data/weather_data.csv')
print(csv.head())   # âœ… lowercase h

          day  temperature  windspeed  event PlayCricket
0  01-01-2017         32.0        6.0   Rain          No
1  01-02-2017         35.0        7.0  Sunny         Yes
2  01-03-2017         28.0        2.0   Snow          No
3  01-04-2017         24.0        7.0   Snow          No
4  01-05-2017         32.0        4.0   Rain          No

In [48]:
import pandas as pd
import seaborn as sbn
weather_data = {
'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
'temperature': [32,35,28,24,32,31],
'windspeed': [6,7,2,7,4,2],
'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
#df.head()
#df.info()
#df.shape
df['windspeed'].max()
df[df['windspeed']>2]
#sbn.lineplot(x=df['day'],y=df['temperature'],data=df)
#sbn.lineplot(x=df.iloc[:, 0], y=df.iloc[:, 1])
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000