In [49]:
import pandas as pd
import tensorflow as tensor
from tensorflow import keras
import  matplotlib.pyplot as plt
(train_x,train_y),(test_x,test_x)=keras.datasets.fashion_mnist.load_data()
train_x.shape
#train_xa=pd.DataFrame(train_x)
type(train_x)
#id(train_x)
d={'a':1,'b':[1,2,3,4]}
d1={x:x*2 for x in range(20)}
d2 = {chr(65 + x): x * 2 for x in range(2,20,3)}
var1="1234567890"
print(var1[2:41:4])
print(d1)
print(d2)
l=[1,2,3,4,5,6]
print(l[:])
print(l[0:3])
print(l[0:5:2])
print(l[::1])
print(l[::2])
print(l[::3])
l+=[33,44,55,66,77]
print(l)
for i in l:
    print(i,type(i))
t=(1,2,3,4,5)
print(type(t))

t=(1,2,3)
t1=(4,5,6)
l1=[4,5,60]
print(t1+t)
print(t*5)
print(l1*5)
print([x*2 for x in l1])
print(tuple(x*3 for x in t))
print(t+t1)

37
{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38}
{'C': 4, 'F': 10, 'I': 16, 'L': 22, 'O': 28, 'R': 34}
[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[1, 3, 5]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[1, 4]
[1, 2, 3, 4, 5, 6, 33, 44, 55, 66, 77]
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
33 <class 'int'>
44 <class 'int'>
55 <class 'int'>
66 <class 'int'>
77 <class 'int'>
<class 'tuple'>
(4, 5, 6, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
[4, 5, 60, 4, 5, 60, 4, 5, 60, 4, 5, 60, 4, 5, 60]
[8, 10, 120]
(3, 6, 9)
(1, 2, 3, 4, 5, 6)