In [7]:
import numpy as np
import pandas as pd
import pandas as pn

df= pd.read_csv('./employees_eda.csv')
df.describe()
df.info()
df['Start Date']=df['Start Date'].astype('datetime64[ns]')
df.info()
df.isna().sum()
pd.DataFrame({
    'dtype': df.dtypes,
    'na_count': df.isna().sum(),
    'na_percent': df.isna().mean() * 100
})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         904 non-null    object
 1   Gender             833 non-null    object
 2   Start Date         1003 non-null   object
 3   Last Login Time    1003 non-null   object
 4   Salary             953 non-null    float64
 5   Bonus %            953 non-null    float64
 6   Senior Management  935 non-null    object
 7   Team               960 non-null    object
dtypes: float64(2), object(6)
memory usage: 62.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         904 non-null    object
 1   Gender             833 non-null    object
 2   Start Date         1003 non-null   datetime64[ns]
 3   Last Login Time    1003 non-null   object
 4   Salary             953 non-null    float64
 5   Bonus %            953 non-null    float64
 6   Senior Management  935 non-null    object
 7   Team               960 non-null    object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 62.8+ KB

                            dtype  na_count  na_percent
First Name                 object        99    9.870389
Gender                     object       170   16.949153
Start Date         datetime64[ns]         0    0.000000
Last Login Time            object         0    0.000000
Salary                    float64        50    4.985045
Bonus %                   float64        50    4.985045
Senior Management          object        68    6.779661
Team                       object        43    4.287139